*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  margin: 0px; }

.header .header-logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase; }

.header .header-nav {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase; }

.subhero {
  font-family: 'Oswald', sans-serif;
  font-size: 1.35em;
  color: white;
  text-transform: uppercase; }
  @media only screen and (max-width: 665px) {
    .subhero {
      font-size: 1em; } }

.hero {
  font-family: 'Playfair Display', serif;
  font-size: 6em;
  color: white;
  text-transform: uppercase; }
  @media only screen and (max-width: 665px) {
    .hero {
      font-size: 3em; } }

.gallery-nav-links a {
  font-family: sans-serif;
  color: #fafafa;
  font-size: 1em; }

.gallery-nav-search {
  font-family: sans-serif;
  color: #fafafa;
  font-size: 1.25em; }

.gallery-img .img-tag {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase; }

.header .header-nav ul, .gallery-nav-links ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0px; }
  @media only screen and (max-width: 454px) {
    .header .header-nav ul, .gallery-nav-links ul {
      flex-flow: column;
      align-items: center; } }
.header .header-nav li, .gallery-nav-links li {
  display: inline; }

.splash {
  width: 100%;
  height: 100vh;
  background: linear-gradient(black, transparent 90%), url("./../img/aurora.jpg") no-repeat center;
  background-size: cover; }

.hero-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.subhero {
  margin-top: 50px;
  margin-bottom: 0px; }

.hero {
  margin-top: 0px;
  margin-bottom: 0px; }

.break-line {
  width: 25%;
  border-top: 3px solid white;
  margin-top: 10px; }

.header {
  display: flex; }
  @media only screen and (max-width: 700px) {
    .header {
      flex-flow: column;
      justify-content: center; } }
  .header .header-logo {
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 700px) {
      .header .header-logo {
        width: 100%;
        height: auto; } }
  .header .header-nav {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header .header-nav li:hover {
      text-decoration: none; }
    .header .header-nav a {
      color: white;
      text-decoration: none; }
    @media only screen and (max-width: 700px) {
      .header .header-nav {
        width: 100%;
        height: auto;
        padding-right: 10px;
        padding-left: 10px; } }

.gallery-nav {
  width: 100%;
  height: 100px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 454px) {
    .gallery-nav {
      height: auto; } }
  @media only screen and (max-width: 1035px) {
    .gallery-nav {
      flex-flow: column-reverse; } }

.gallery-nav-links {
  margin-left: 75px; }
  @media only screen and (min-width: 1036px) {
    .gallery-nav-links {
      width: 30%; } }
  @media only screen and (max-width: 1035px) {
    .gallery-nav-links {
      width: 80%;
      margin-left: 0px; } }
  .gallery-nav-links a {
    text-decoration: none; }

.gallery-nav-search {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 75px; }
  @media only screen and (max-width: 1035px) {
    .gallery-nav-search {
      justify-content: center;
      width: 80%;
      margin-right: 0px; } }
  .gallery-nav-search .search-icon {
    width: 20px;
    height: 20px;
    color: white;
    margin-left: 10px; }

.gallery-row {
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 940px) {
    .gallery-row {
      flex-direction: column; } }

.gallery-img {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .gallery-img .break-line-sm {
    width: 45px;
    border-bottom: orange 5px solid;
    margin-left: 25px; }
  .gallery-img .img-tag {
    margin-left: 25px; }

#raft {
  background-image: url("../img/raft.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #raft {
      width: 50%; } }
  @media only screen and (max-width: 940px) {
    #raft {
      width: 100%; } }

#base-camp {
  background-image: url("../img/base-camp.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #base-camp {
      width: 25%; } }
  @media only screen and (max-width: 940px) {
    #base-camp {
      width: 100%; } }

#backpacking {
  background-image: url("../img/backpacking.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #backpacking {
      width: 25%; } }
  @media only screen and (max-width: 940px) {
    #backpacking {
      width: 100%; } }

#canoe {
  background-image: url("../img/canoe.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #canoe {
      width: 25%; } }
  @media only screen and (max-width: 940px) {
    #canoe {
      width: 100%; } }

#photo {
  background-image: url("../img/photo.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #photo {
      width: 25%; } }
  @media only screen and (max-width: 940px) {
    #photo {
      width: 100%; } }

#custom {
  background-image: url("../img/custom.jpg");
  background-position: center;
  background-size: cover; }
  @media only screen and (min-width: 941px) {
    #custom {
      width: 50%; } }
  @media only screen and (max-width: 940px) {
    #custom {
      width: 100%; } }

/*# sourceMappingURL=application.css.map */
