.gallery-row {
  display: flex;
  width: 100%;
  @media only screen and (max-width: 940px) {
  flex-direction: column;
  }
}


.gallery-img {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .break-line-sm {
    width: 45px;
    border-bottom: orange 5px solid;
    margin-left: 25px;
  }

  .img-tag {
    @extend %tag;
    margin-left: 25px;
  }
}

#raft{
  background-image: url('../img/raft.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 50%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}

#base-camp{
  background-image: url('../img/base-camp.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 25%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}

#backpacking{
  background-image: url('../img/backpacking.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 25%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}

#canoe{
  background-image: url('../img/canoe.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 25%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}

#photo{
  background-image: url('../img/photo.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 25%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}

#custom{
  background-image: url('../img/custom.jpg');
  background-position: center;
  background-size: cover;

  @media only screen and (min-width: 941px) {
  width: 50%;
  }

  @media only screen and (max-width: 940px) {
  width: 100%;
  }
}
