.header {
  display: flex;

  .header-logo {
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: center;
    @extend %logo;
  }

  .header-nav {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %link;

    @extend %nav-structure;

    li:hover {
      text-decoration: none;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
