.header {
  display: flex;

  @media only screen and (max-width: 700px) {
    flex-flow: column;
    justify-content: center;
  }

  .header-logo {
    display: flex;
    width: 30%;
    height: 200px;
    align-items: center;
    justify-content: center;
    @extend %logo;

    @media only screen and (max-width: 700px) {
      width: 100%;
      height: auto;
    }
  }

  .header-nav {
    width: 60%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %link;

    @extend %nav-structure;

    li:hover {
      text-decoration: none;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      color: orange;
    }

    @media only screen and (max-width: 700px) {
      width: 100%;
      height: auto;
      padding-right: 10px;
      padding-left: 10px;
    }

  }
}
