// font-family: 'Oswald', sans-serif;
// font-family: 'Playfair Display', serif;

%logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

%link {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

%subhero {
  font-family: 'Oswald', sans-serif;
  font-size: 1.35em;
  color: white;
  text-transform: uppercase;
}

%hero {
  font-family: 'Playfair Display', serif;
  font-size: 6em;
  color: white;
  text-transform: uppercase;
}

%small-link {
  font-family: sans-serif;
  color: #fafafa;
  font-size: 1em;
}

%search {
  font-family: sans-serif;
  color: #fafafa;
  font-size: 1.25em;
}
